[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Gviz"]
	path = Gviz
	url = https://github.com/ivanek/gviz
[submodule "seqLogo"]
	path = seqLogo
	url = https://github.com/ivanek/seqlogo
